/* Carousel.css */

.custom-carousel {
  position: relative;
  width: 100%;
  max-width: 800px; /* Set your desired max width */
  margin: 1rem auto 2rem;
  transition: 0.4s all ease-in-out;
}

.carousel-slide {
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.carousel-slide img {
  max-width: 800px;
  max-height: 400px;
  height: auto;
  transition: 1s all ease-in-out;
  cursor: pointer;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  cursor: pointer;
  color: var(--color-grey-6);
  background-color: var(--color-grey-2);
  border: none;
  padding: 10px;
  outline: none;
  font-weight: bold;
  z-index: 1000;
}

.arrow.prev {
  left: -50px;
}

.arrow.next {
  right: -50px;
}

@media (max-width: 1000px) {
  .arrow.prev{
      left: 7px;
  }

  .arrow.next {
      right: 7px;
  }
}

@media (max-width: 700px) {
  .carousel-slide img{
    max-width: 500px;
  }
}

@media (max-width: 600px) {
    .caraosel-container{
      display: none;
    }

    .projects-grp{
      overflow: unset;
      flex-wrap: wrap;
    }
}