* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.chartCard {
    margin-top: 2rem;
    padding: 10rem;
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chartBox {
    width: 100%;
    padding: 20px;
    border-radius: 20px;
}

.about-stats{
    display: none;
}

@media (max-width:1500px) {
    .chartCard{
        padding:unset;
    }
}

@media (max-width:600px) {
    .chartBox{
        transform: rotate(90deg);
        width: unset;
        max-width: unset;
    }
    .chartCard{
        display: none;
    }
    .about-stats{
        display: unset;
    }
}