@media (max-width:1200px) {
    .sec2{
        padding: 3vh 7vw 3vh 3vw;
    }
    section{
        padding: 3rem 7rem 3rem 3rem;
    }
    .header-content{
        .right-header{
            padding-right: 8rem;
        }
        .left-header{
            .image{
                width: 80%;
                margin-left: 3rem;
            }
        }
    }
}

@media (max-width:1000px) {
    .timelines{
        max-width: 60vw;
        margin: auto;
    }
    .timeline-section .timelines{
        grid-template-columns: repeat(1,1fr);
    }
    .timeline-section .timelines .timeline{
        margin-bottom: 2rem;
    }
    .timeline-section .timelines .timeline .proofs{
        max-width: 40vw;
    }
    .projects-grp{
        grid-template-columns: repeat(2,1fr);
    }
    .contact-content-con{
        flex-direction: column;
        .left-contact{
            width: 90%;
            margin: auto;
        }
        .right-contact{
            width: 90%;
            margin: auto;
        }
    }
    .header-content{
        .left-header{
            .image{
                height: 70vh;
            }
        }
        .right-header{
            padding-top: 2rem;
            padding-bottom: 2rem;
            .name{
                font-size: 2rem;
            }
        }
    }
}

@media (max-width:860px) {
    .timelines{
        max-width: 70vw;
        margin: auto;
    }
    .timeline-section .timelines .timeline .proofs{
        max-width: 50vw;
    }
    header{
        height: unset;
    }
    .header-content{
        display: flex;
        flex-direction: column;
        .left-header{
            .h-shape{
                display: none;
            }
            .image{
                height: 400px;
                width: 70%;
                margin: auto;
                margin-top: 2rem;
            }
        }
        .right-header{
            padding: 3rem;
            padding-right: 5rem;
        }
    }

    .main-title{
        h2{
            font-size: 2.5rem;
            .bg-text{
                font-size: 3.5rem;
            }
        }
    }
}

@media (max-width:700px) {
    .timeline-section .timelines .timeline .icon{
        display: none;
    }
    .timelines{
        max-width: 80vw;
        margin: auto;
    }
    .timeline-section .timelines .timeline .proofs{
        max-width: 50vw;
    }
    .sec-1{
        padding: 3vw;
    }
    section{
        padding: 3rem;
    }
    .about-stats{
        .progress-bars{
            grid-template-columns: repeat(1,1fr);
        }
    }

    .contact-content-con{
        .left-contact{
            h4{
                font-size: 1.5rem;
            }
            .contact-info{
                .contact-item{
                    width: 100%;
                    flex-direction: column;
                    align-items: flex-start;
                    margin: 1rem auto;
                }
            }
        }
        .right-contact{
            .input-control-2{
                flex-direction: column;
                :last-child{
                    margin-top: 1.2rem;
                    margin-left: auto;
                }
            }
        }
    }

    .project-nav{
        grid-template-columns: repeat(1,1fr);
    }

    .projects-grp{
        grid-template-columns: repeat(1,1fr);
        .project{
            height: 250px;
        }
    }

    .abt-btns{
        flex-direction: column;
        .btn-con{
            margin: 1rem auto;
        }
    }

    .main-title{
        h2{
            font-size: 2rem;
            .bg-text{
                display: none;
            }
        }
    }
}

@media (max-width:500px) {

    .sec1 .left-header{
        overflow: hidden;
    }

    .name{
        font-size: 1.25rem !important;
        line-height: 1.75rem !important;
    }

    .header-content .right-header p{
        margin-block-start: 0.7rem;
        margin-block-end: 0.7rem;
        font-size: 1rem;
        line-height: 1.5rem;
    }
}